# Git
.git
.gitignore
.gitattributes

# CI/CD
.github

# Documentation
README.md
LICENSE

# Build results
**/bin/
**/obj/
**/out/

# Visual Studio
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# Docker
Dockerfile*
.dockerignore
docker-compose*

# OS files
.DS_Store
Thumbs.db

# Others
**/.env
**/*.log
